
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
nav .grid{
  display: grid;
  position: relative;
}
nav .grid .outline{
  background: #a27c67;
  height: 10px;
  width: 100%;
}
nav .flex{
  display: flex;
  background: #314d74;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #314d74;
  padding: 5px;
}
nav .flex ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .flex ul li{
  list-style: none;
  padding: 15px;
}
nav .flex ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 15px;
  padding: 5px;
}
nav .flex #Sign {
  font-size: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 15px;
  padding: 5px;
}
nav .flex h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}
nav .grid .outline {
  position: relative;
  background: #a27c67;
  width: 100%;
  height: 10px;
}
nav .flex ul li a:hover,
nav .flex ul li a.active2 {
  background: #fff;
  color: #314d74;
  transition: 0.5s;
}
nav .flex #Sign:hover {
  background: #fff;
  color: #314d74;
  transition: 0.5s;
}