@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
header {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 100vw;
  background: #314d74;
  padding: 7px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  padding: 20px;
}
header ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 15px;
  padding: 5px;
}
header #Sign {
  font-size: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 15px;
  padding: 5px;
}
header h1 {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  margin-left: -100px;
}
.outline {
  position: relative;
  background: #a27c67;
  width: 100%;
  height: 10px;
}
header ul li a:hover,
header ul li a.active1 {
  background: #fff;
  color: #314d74;
  transition: 0.5s;
}
header #Sign:hover {
  background: #fff;
  color: #314d74;
  transition: 0.5s;
}
.gallery {
  margin-top: 2%;
  background: transparent;
}
.gallery-cell {
  position: relative;
  width: 50%;
  height: 300px;
  margin-right: 1%;
  background: #eee;
  counter-increment: gallery-cell;
  box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.5);
  overflow: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}
.gallery-cell h3{
  background: #314d74;
  color: white;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.gallery-cell p{
  margin-top: 5%;
  text-align: left;
  float: left;
  padding-left: 5%;
  max-width: 70%;
  font-size: 25px;
  font-weight: 500;
}
.gallery-cell img{
  float: right;
  margin-top: 4%;
  margin-right: 10px;
  box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.5);
}
.gallery-cell a i{
  float: left;
  font-size: 20px;
  color: #314d74;
}
section h1 {
  position: relative;
  margin-top: 5%;
  margin-left: 10%;
  font-size: 35px;
}
section .blue_outline {
  position: relative;
  margin-top: 15px;
  width: 28vw;
  background: #314d74;
  height: 5px;
}
section .brown_outline {
  position: relative;
  margin-top: 5px;
  width: 20vw;
  background: #a27c67;
  height: 5px;
}
section p {
  margin-top: 2%;
  margin-left: 10%;
  font-size: 20px;
  text-align: left;
  margin-right: 10%;
}
section button {
  margin-left: 10%;
  margin-top: 1%;
  background: #314d74;
  border-radius: 5px;
  box-shadow: 1px 3px 4px 2px #00000040;
}
section #read_more {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
}
@media screen and (max-width: 1400px) {
  .gallery-cell img{
    display: none;
  }
  .gallery-cell p{
    float: none;
    text-align: left; 
    vertical-align: middle;
    display: table-cell;
    padding-right: 5%;
    padding-top: 10%;
  }
}