@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
:root{
  --singup-font-family: 'Poppins', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
header {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 100vw;
  background: #314d74;
  padding: 7px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  padding: 20px;
}
header ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 15px;
  padding: 5px;
}
header #Sign {
  font-size: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 15px;
  padding: 5px;
}
header h1 {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  margin-left: -100px;
}
header ul li a:hover,
header #Sign.active3 {
  background: #fff;
  color: #314d74;
  transition: 0.5s;
}
.outline {
  position: relative;
  background: #a27c67;
  width: 100%;
  height: 10px;
}
.form {
  position: relative;
  display: grid;
  height: 70vh;
  width: 30vw;
  float: right;
  background: #fff;
  border-radius: 35px;
  margin-top: 2.5%;
  margin-right: 40px;
  box-shadow: 0px 8px 10px 4px #00000040;
}
.form #head {
  background: #314d74;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.form #outline {
  background: #a27c67;
  width: 100%;
  height: 10px;
}
.form #email {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin-left: 20px;
  font-weight: 500;
}
.form #emailin {
  height: 50px;
  margin: 0 auto;
  width: 90%;
  border-radius: 10px;
  background: #f8f8f8;
  border: none;
  box-shadow: 0px 2px 5px 3px #00000040;
}
.form #pass {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding-left: 20px;
  font-weight: 500;
}
.form #pwd {
  height: 50px;
  margin: 0 auto;
  width: 90%;
  border-radius: 10px;
  background: #f8f8f8;
  border: none;
  box-shadow: 0px 2px 5px 3px #00000040;
}
.form #submit {
  background: #314d74;
  height: 35px;
  width: 80%;
  margin: 0 auto;
  border-radius: 35px;
  color: #fff;
  font-size: 25px;
}
.form #submit:hover {
  cursor: pointer;
  color: #314d74;
  background: #fff;
  transition: all 0.5s;
}
.form .alert{
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  margin: 0 auto;
  grid-template-columns: auto;
}
.form #sign-up {
  display: flex;
  margin: 0 auto;
}
.form #sign-up p {
  font-size: 17px;
}
.form #sign-up a {
  font-size: 17px;
  text-decoration: none;
  padding-left: 5px;
  color: #6F9EDF;
}
#popup{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    max-height: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    border-radius: 10px;
    transition: 0.5s;
}
#popup .singupform .head{
  display: flex;
  width: 100%;
  background: #314d74;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#popup .singupform .head a{
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  color: #fff;
}
.material-icons.md-36{ 
  font-size: 36px; 
}
#popup .singupform .head p{
  float: center;
  margin-left: 35%;
  font-size: 25px;
  color: #fff;
  padding: 5px;
  font-family: var(--singup-font-family);
  font-weight: 500;
}
.material-icons.md-36{ 
  font-size: 36px; 
}
#popup .singupform #outline {
  background: #a27c67;
  width: 100%;
  height: 10px;
}
#popup .singupform .name p{
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 1%;
  font-family: var(--singup-font-family);
}
#popup .singupform .name .nameIn{
  display: flex;
  height: 30px;
}
#popup .singupform .name .nameIn input{
  margin-left: 5%;
  width: 25%;
  border-radius: 5px;
  background: #f8f8f8;
  border: none;
  padding: 10px;
  box-shadow: 0px 2px 5px 3px #00000040;
}
#popup .singupform .email p{
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 1%;
  font-family: var(--singup-font-family);
}
#popup .singupform .email input{
  height: 30px;
  margin-left: 5%;
  width: 35%;
  border-radius: 5px;
  background: #f8f8f8;
  border: none;
  padding: 10px;
  box-shadow: 0px 2px 5px 3px #00000040;
}
#popup .singupform .aadhar p{
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 1%;
  font-family: var(--singup-font-family);
}
#popup .singupform .aadhar input{
  height: 30px;
  margin-left: 5%;
  width: 25%;
  border-radius: 5px;
  background: #f8f8f8;
  border: none;
  padding: 10px;
  box-shadow: 0px 2px 5px 3px #00000040;
}
#popup .singupform .address p{
  margin-top: 2%;
  margin-left: 5%;
  font-family: var(--singup-font-family);
}
#popup .singupform .address .grid{
  display: grid;
}
#popup .singupform .address .grid .flex{
  display: flex;
}
#popup .singupform .address .grid .flex input{
  height: 30px;
  margin-left: 5%;
  width: 25%;
  border-radius: 5px;
  background: #f8f8f8;
  border: none;
  padding: 5px;
  box-shadow: 0px 2px 5px 3px #00000040;
}
#popup .singupform .address .grid .flex #hNo{
  width: 15%;
}
#popup .singupform .address .grid .flex #society{
  width: 40%;
}
#popup .singupform .address .grid .flex #pin{
  width: 20%;
}
#popup .singupform .address .grid input{
  height: 30px;
  margin-top: 2%;
  margin-left: 5%;
  width: 85%;
  border-radius: 5px;
  background: #f8f8f8;
  border: none;
  padding: 10px;
  box-shadow: 0px 2px 5px 3px #00000040;
}
#popup .singupform .mobile p{
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 1%;
  font-family: var(--singup-font-family);
}
#popup .singupform .mobile input{
  height: 30px;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 25%;
  border-radius: 5px;
  background: #f8f8f8;
  border: none;
  padding: 10px;
  box-shadow: 0px 2px 5px 3px #00000040;
}
#popup .singupform #submit1{
  font-family: var(--singup-font-family);
  background: #314d74;
  border-radius: 35px;
  border: #314d74 solid;
  color: #fff;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  text-align: center;
  margin-bottom: 2.5%;
}
#popup .singupform #submit1:hover {
  cursor: pointer;
  color: #314d74;
  background: #fff;
  transition: all 0.5s;
}
#popup .singupform .ifAccExists p{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}
#popup .singupform .ifAccExists a{
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #6F9EDF;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 2%;
}
#popup.activate
{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
#blur.activate{
  filter: blur(7px);
    pointer-events: none;
}
@media screen and (max-width: 1090px) {
  img {
    display: none;
  }
  .form {
    float: none;
    margin: 0 auto;
    margin-top: 10%;
    width: 50%;
  }
}
@media screen and (max-height: 500px){
  .form{
    margin-top: 5%;
    height: 100vh;
  }
  .form #head, .form #outline{
    display: none;
  }
  .form #email{
    margin-top: 10%;
  }
}
@media screen and (max-width: 600px) {
  #popup .singupform .head p{
    float: none;
    font-size: 20px;
    color: #fff;
    padding: 5px;
    font-family: var(--singup-font-family);
    font-weight: 400;
  }
  #popup .singupform .head a{
    float: left;
    margin-left: 5px;
    margin-top: 10px;
    color: #fff;
  }
  .material-icons.md-36{ 
    font-size: 24px; 
  }
  #popup .singupform #button{
    font-size: 15px;
    width: 35%;
  }
  #popup .singupform .ifAccExists p{
    font-size: 15px;
    font-weight: 400;
  }
}