<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - CMS</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <header> 
        <ul>
            <li><a href="home.html" class="active1">Home</a></li>
            <li><a href="about.html" class="active2">About</a></li>
        </ul>
        <h1>Logo</h1>
        <a id="Sign" href="login.html" class="active3">Sign In</a>
    </header>
    <div class="outline">
    </div>
    <div class="circle1"></div>
</body>
</html>