<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/flickity.css') }}" media="screen">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header>
        <ul>
            <li><a href="{{ url_for('home') }}" class="active1">Home</a></li>
            <li><a href="{{ url_for('about') }}" class="active2">About</a></li>
        </ul>
        <h1>Logo</h1>
        <a id="Sign" href="{{ url_for('login') }}" class="active3">Sign In</a>
    </header>
    <div class="outline"></div>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
        <div class="gallery-cell">
            <h3>{{ news[0][1] }}</h3>
            <p>{{ news[0][0] }}<br><a href={{news[0][2]}}><i
                        class="material-icons">launch</i></a>
            </p>
            <img src={{news[0][3]}} style="width: 200px; height: 200px;">
        </div>
        <div class="gallery-cell">
            <h3>{{ news[1][1] }}</h3>
            <p>{{ news[1][0] }}<br><a href={{news[1][2]}}><i
                        class="material-icons">launch</i></a>
            </p>
            <img src={{news[1][3]}} style="width: 200px; height: 200px;">
        </div>
        <div class="gallery-cell">
            <h3>{{ news[2][1] }}</h3>
            <p>{{ news[2][0] }}<br><a href={{news[2][2]}}><i
                        class="material-icons">launch</i></a>
            </p>
            <img src={{news[2][3]}} style="width: 200px; height: 200px;">
        </div>
        <div class="gallery-cell">
            <h3>{{ news[3][1] }}</h3>
            <p>{{ news[3][0] }}<br><a href={{news[3][2]}}><i
                        class="material-icons">launch</i></a>
            </p>
            <img src={{news[3][3]}} style="width: 200px; height: 200px;">
        </div>
        <div class="gallery-cell">
            <h3>{{ news[4][1] }}</h3>
            <p>{{ news[4][0] }}<br><a href={{news[4][2]}}><i
                        class="material-icons">launch</i></a>
            </p>
            <img src={{news[4][3]}} style="width: 200px; height: 200px;">
        </div>
    </div>
    <section>
        <h1>About the Project</h1>
        <div class="blue_outline"></div>
        <div class="brown_outline"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Nunc scelerisque viverra mauris in aliquam sem fringilla ut. Amet purus gravida quis blandit
            turpis cursus in. Scelerisque eu ultrices vitae auctor eu augue ut lectus arcu. Sagittis orci a scelerisque
            purus semper. Quis commodo odio aenean sed adipiscing diam donec. Urna nec tincidunt praesent semper feugiat
            nibh sed. Aliquet enim tortor at auctor. Aliquet porttitor lacus luctus accumsan tortor posuere. Nibh tellus
            molestie nunc non blandit massa enim nec. Diam maecenas sed enim ut sem viverra aliquet eget. Ac turpis
            egestas maecenas pharetra convallis posuere.
        </p>
        <button><a id="read_more" href="about.html">Read more</a></button>
    </section>
    <script src="{{ url_for('static', filename='javascript/flickity.pkgd.js') }}"></script>
</body>

</html>