<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div id="blur">
        <nav>
            <div class="grid">
                <div class="flex">
                    <ul>
                        <li><a href="{{ url_for('home') }}" class="active1">Home</a></li>
                        <li><a href="{{ url_for('about') }}" class="active2">About</a></li>
                    </ul>
                    <h1>Logo</h1>
                    <a id="Sign" href="{{ url_for('login') }}" class="active3">Sign In</a>
                </div>
                <div class="outline"></div>
            </div>
        </nav>
        <img src="{{ url_for('static', filename='images/login.svg') }}" style="margin-left: 10%;
        margin-top: 2.5%;
        width: 40%;">
        <form class="form" action="" method="POST">
            <p id="head"></p>
            <p id="outline"></p>
            <p id="email">Email</p>
            <input type="email" id="emailin" name="email" placeholder=" abc@google.com">
            <p id="pass">Password</p>
            <input type="password" id="pwd" name="pwd">
            <input id="submit" type="submit" name="action" value="Login">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert">
                <i class="material-icons" title="Please Check your Email/Password">error_outline</i>
                <p id="incorrect">{{message}}</p>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}


            <div id="sign-up">
                <p>Create an account -</p>
                <a href="#" onclick="toggle()"> Sign Up</a>
            </div>
        </form>
    </div>
    <div id="popup">
        <form class="singupform" action="" method="POST">
            <div class="head">
                <a href="#" onclick="toggle()"><i class="material-icons md-36">cancel</i></a>
                <p>Sign up</p>
            </div>
            <p id="outline"></p>
            <div class="name">
                <p>Name</p>
                <div class="nameIn">
                    <input type="text" id="fname" name="firstName" placeholder=" First Name">
                    <input type="text" id="mname" name="middleName" placeholder=" Middle Name">
                    <input type="text" id="lname" name="lastName" placeholder=" Last Name">
                </div>
            </div>
            <div class="email">
                <p>Email</p>
                <input type="email" id="emailin1" name="email">
            </div>
            <div class="aadhar">
                <p>Aadhar Number</p>
                <input type="text" id="aadhar" name="aadharCard" maxlength="12">
            </div>
            <div class="address">
                <p>Address</p>
                <div class="grid">
                    <div class="flex">
                        <input type="number" id="hNo" name="houseNo" placeholder=" House No.">
                        <input type="text" id="society" name="society" placeholder=" Society">
                        <input type="text" id="pin" name="pinCode" placeholder=" Pin Code" maxlength="6">
                    </div>
                    <input type="text" id="locality" name="locality" placeholder=" Locality">
                </div>
            </div>
            <div class="mobile">
                <p>Mobile Number</p>
                <input type="text" id="mobile" name="mobileNumber" maxlength="10">
            </div>
            <input id="submit1" type="submit" name="action" value="Sign-up">
            <div class="ifAccExists">
                <p>Already have an account?</p>
                <a href="#" onclick="toggle()">Sign in</a>
            </div>
        </form>
    </div>
</body>
<script type="text/javascript">
    function toggle() {
        var blur = document.getElementById('blur');
        blur.classList.toggle('activate');
        var popup = document.getElementById('popup');
        popup.classList.toggle('activate');
    }
</script>

</html>